<template>
  <header v-click-outside="onClickOutside"
          class="headerMiddle"
  >
    <div class="headerMiddle__container containerWide">
      <n-link :to="{ name: 'index' }"
              class="headerMiddle__logo"
      >
        <logo class="headerMiddle__logoImg" />
      </n-link>

      <header-nav class="headerMiddle__nav"
                  :menu="menuItems"
      />

      <button
        class="headerMiddle__mobileMenuToggler"
        :class="{ isActive: mobileMenuIsOpen }"
        @click="mobileMenuChange((mobileMenuIsOpen = !mobileMenuIsOpen))"
      >
        <svg-icon :name="mobileMenuIsOpen ? 'close' : 'burger'"
                  class="headerMiddle__mobileMenuTogglerIcon"
        />
      </button>

      <mobile-menu
        :menu-items="menuItems"
        class="headerMiddle__mobileMenu"
        :class="{ isActive: mobileMenuIsOpen }"
      />
    </div>
  </header>
</template>

<script>
import vClickOutside from 'v-click-outside';
import Logo from '@/components/logo/index';
import MobileMenu from '../mobileMenu/mobileMenu';
import HeaderNav from './headerNav';

export default {
  name: 'HeaderMiddle',

  components: {
    Logo,
    MobileMenu,
    HeaderNav,
  },

  directives: {
    clickOutside: vClickOutside.directive,
  },

  data() {
    return {
      headerPopupIsOpen: false,
      mobileMenuIsOpen: false,
      menuItems: [
        { name: 'Home', to: 'index' },
        { name: 'Info', to: 'info' },
        { name: 'Login', to: 'login' },
      ],
    };
  },

  methods: {
    onClickOutside() {
      this.mobileMenuChange(false);
    },

    mobileMenuChange(state) {
      if (state) {
        this.$emit('mobileMenuOpen');
      } else {
        this.$emit('mobileMenuClose');
      }
      this.mobileMenuIsOpen = state;
    },
  },
};
</script>

<style lang="scss">
.headerMiddle {
  position: relative;
  width: 100%;
  z-index: 3;

  background: var(--colorBlack);

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 80px;
  }

  &__logo {
  }

  &__logoImg {
    display: block;
    max-height: 90px;
    max-width: 300px;

    color: var(--colorGrayL);

    filter: drop-shadow( 0 0 14px rgba(255 255 255/.35));

    animation: blink infinite 11s;

    @keyframes blink {
      0% {
        filter: drop-shadow(0 0 12px rgba(255 255 255/.35));
      }
      1% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/0));
      }
      2% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/.35));
      }

      4% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/.35));
      }
      5% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/0));
      }
      6% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/.35));
      }

      78% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/.35));
      }
      79% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/0));
      }
      80% {
        filter: drop-shadow( 0 0 12px rgba(255 255 255/.35));
      }
    }

  }

  &__nav {
    @include below($lg-tablet) {
      display: none;
    }
  }

  &__mobileMenu {
    display: none;

    @include below($lg-tablet) {
      position: absolute;
      top: 100%;
      right: 0;
      display: block;
    }
  }

  &__mobileMenuToggler {
    display: none;
    width: 24px;
    height: 24px;
    margin-left: auto;

    @include below($lg-tablet) {
      display: block;
    }
  }

  &__mobileMenuTogglerIcon {
    display: block;
    width: 100%;
    height: 100%;
    fill: $white;
  }

  &__mobileMenuToggler.isActive &__mobileMenuTogglerIcon {
    padding: 4px;
  }
}
</style>
