<template>
  <nav class="headerNav">
    <ul class="headerNav__list">
      <li v-for="(item, index) in menu"
          :key="index"
          class="headerNav__listItem"
      >
        <n-link :to="{ name: item.to }"
                class="headerNav__listLink"
        >
          {{ item.name }}
        </n-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'HeaderNav',

  props: {
    menu: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {};
  },

  methods: {},
};
</script>

<style lang="scss">
.headerNav {
  margin-left: auto;
  align-self: stretch;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    @include below($lg-tablet) {
      flex-direction: column;
      margin: 15px 0;

      text-align: left;
    }
  }

  &__listItem {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $colorGrayEL;
    cursor: pointer;
    font-size: $fz-md;
    text-align: right;
    user-select: none;

    transition: color 0.1s ease;

    &:hover,
    &.isActive {
      color: var(--colorGrayD);
    }

    &:after {
      position: absolute;
      right: 0;
      top: 0;

      content: '';
      display: inline-block;
      width: 1px;
      height: 100%;

      background: var(--colorBlackL);
    }

    &:last-child:after {
      content: none;
    }

    @include below($md-desktop) {
      font-size: 11px;
    }

    @include below($lg-tablet) {
      min-height: 40px;
      justify-content: flex-start;
      margin: 0 0 15px;

      font-size: 16px;
      font-weight: 700;
    }
  }

  &__listCaret {
    margin: 0 0 0 10px;

    color: inherit;
    border: 5px solid transparent;
    border-bottom: none;
    border-top-color: currentColor;

    transition: transform 0.12s ease;

    @include below($lg-tablet) {
      display: none;
    }
  }

  &__listItem.isActivePopup &__listCaret {
    transform: rotate(180deg);
  }

  &__listLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: inherit;
    font-weight: inherit;
    padding: 7px 40px;

    cursor: pointer;
  }
}
</style>
