<template>
  <header class="header">
    <header-middle />
    <div class="header__container container" />
  </header>
</template>

<script>
import HeaderMiddle from '@/components/header/headerMiddle';

export default {
  name: 'HeaderCustom',
  components: { HeaderMiddle },
};
</script>

<style lang="scss">
.header {
  &__container {
  }
}
</style>
