<template>
  <div class="login">
    <div class="login__form">
      <h3>Login</h3>

      <br>
      <custom-input v-model="form.email"
                    label="E-mail"
      />
      <custom-input v-model="form.password"
                    label="Password"
                    type="password"
      />
      <btn @click="submit">
        Login
      </btn>

      <div class="login__links">
        <n-link :to="{name:'login-registration'}"
                class="login__link link-decoration"
        >
          Registration
        </n-link>
      </div>
    </div>
  </div>
</template>

<script>
import CustomInput from '@/components/ui-kit/customInput';
import Btn from '@/components/ui-kit/btn';

export default {
  components: {
    Btn,
    CustomInput,
  },

  data() {
    return {
      form: {
        email: '',
        password: '',
      },
    };
  },

  methods: {
    submit() {
      this.$auth.loginWith('laravelJWT', { data: this.form }).then((res) => {
        if (res.token) {
          // eslint-disable-next-line no-console
          console.log(res);
          // this.$auth.setUserToken(res.access_token)
        }
      });
    },
  },
};
</script>

<style lang="scss">
.login {
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    max-width: 300px;

    text-align: center;
  }

  &__links {
    margin: 20px 0 0;
  }
}
</style>
