<template>
  <div class="registration">
    <div class="registration__form">
      <h3>Registration</h3>

      <br>

      <custom-input v-model="form.email"
                    label="E-mail"
      />

      <custom-input v-model="form.name"
                    label="Name"
      />

      <custom-input v-model="form.password"
                    label="Password"
                    type="password"
      />
      <custom-input v-model="form.confirmPassword"
                    label="Confirm password"
                    type="password"
      />

      <btn @click="submit">
        Submit
      </btn>

      <div class="registration__links">
        <n-link :to="{name:'login'}"
                class="login__link link-decoration"
        >
          Login
        </n-link>
      </div>
    </div>
  </div>
</template>

<script>
import CustomInput from '@/components/ui-kit/customInput';
import Btn from '@/components/ui-kit/btn';

export default {
  components: {
    Btn,
    CustomInput,
  },

  data() {
    return {
      form: {
        email: '',
        name: '',
        password: '',
        confirmPassword: '',
      },
    };
  },

  methods: {
    submit() {
      if (this.form.password && this.form.confirmPassword) {
        this.$axios.$post('auth/register', this.form).then((res) => {
          // eslint-disable-next-line no-console
          console.log('registration success');
        });
      }
    },
  },
};
</script>

<style lang="scss">
.registration {
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    max-width: 300px;

    text-align: center;
  }

  &__links {
    margin: 20px 0 0;
  }
}
</style>
