<template>
  <component
    :is="componentParams.is"
    v-bind="componentParams"
    class="btn"
    @click="to ? '' : $emit('click') "
  >
    <span class="btn__center">
      <span class="btn__text">
        <slot />
      </span>

      <span
        v-if="!!$slots.bottom"
        class="btn__bottom"
      >
        <slot name="bottom" />
      </span>
    </span>

    <span
      v-if="!!$slots.right"
      class="btn__right"
    >
      <slot name="right" />
    </span>
  </component>
</template>

<script>
export default {
  name: 'Btn',

  props: {
    icon: {
      type: String,
      default: null,
    },

    to: {
      type: Object || String,
      default: null,
    },
  },

  computed: {
    componentParams() {
      if (this.to) {
        if (typeof this.to === 'string' && this.to.match(/^(http(s)?|ftp):\/\//)) {
          return {
            is: 'a',
            href: this.to,
            target: '_blank',
            rel: 'noopener nofollow',
          };
        }
        return {
          is: 'router-link',
          to: this.to,
        };
      }

      return {
        is: 'button',
      };
    },
  },

  methods: {},
};
</script>

<style lang="scss">
.btn {
  position: relative;

  padding: 7px 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;

  font-family: $fontPrimary;
  font-weight: 700;
  font-size: $fz-sm;
  line-height: 1.2;
  color: #ffffff;
  background-color: var(--colorMain);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  user-select: none;
  outline: none;

  transition: background-color 0.12s ease, color 0.12s ease, border-color 0.12s ease, filter 0.12s ease;

  &--bold {
    min-height: 60px;
    border-radius: 8px;
  }

  &__icon {
    margin-left: 10px;
    flex-shrink: 0;

    width: 11px;
    height: 11px;
    color: inherit;

    fill: currentColor;
    transition: fill 0.1s ease;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 0 0 0 18px;
    margin: -7px 0 -7px 18px;

    border-left: 1px solid rgba(255, 255, 255, .2);
  }

  &:hover,
  &:focus {
    filter: brightness(0.95);
  }

  &[disabled] {
    background-color: var(--colorGrayED);
    cursor: no-drop;

    transition-delay: 0.1s;

    &:hover,
    &:focus {
      filter: none;
    }
  }
}
</style>
