<template>
  <label class="inputWrapper">

    <span class="inputWrapper__inner">
      <template v-if="label">
        <span class="inputWrapper__label">
          {{ label }}
        </span>
      </template>

      <template v-if="type === 'tel'">
        <input
          ref="input"
          v-mask="['+7 (###) ###-####']"
          class="inputWrapper__input"
          :type="type"
          :placeholder="placeholder || '+7 (___) ___-____'"
          :value="value"
          @input="$emit('input', $event.target.value)"
          @focus="focus($event.target)"
          @focusout="focusout($event)"
        >
      </template>
      <template v-else>
        <input
          ref="input"
          class="inputWrapper__input"
          :type="type"
          :placeholder="placeholder"
          :value="value"
          @input="$emit('input', $event.target.value)"
          @focus="focus($event.target)"
          @focusout="focusout($event)"
        >
      </template>
    </span>

    <span
      v-if="error"
      class="inputWrapper__error"
    >
      {{ error }}
    </span>
  </label>
</template>

<script>
import { mask } from 'vue-the-mask'

export default {
  name: 'CustomInput',

  directives: { mask },

  props: {
    value: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    placeholder: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: 'text',
    },
    error: {
      type: String,
      default: null,
    },
    autofocus: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      placeholderResult: this.type === 'tel' ? '+7 (___) ___-____' : this.placeholder,
    }
  },

  mounted() {
    if (this.autofocus) {
      this.setFocus(this.$refs.input.$el)
    }
  },

  methods: {
    focus(e) {
      this.setFocus(e)
      this.$emit('clearError')
      this.$emit('focus', this.value)
    },

    focusout(e) {
      this.$emit('focusout', e)
    },

    setFocus(e) {
      setTimeout(() => {
        if (e.type !== 'email') {
          if (e.value === this.placeholderResult) {
            e.setSelectionRange(4, 4)
          } else {
            e.setSelectionRange(0, 0)
          }
          e.focus()
        }
      }, 0)
    },
  },
}
</script>

<style lang="scss">
:root .inputWrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  color: var(--colorBlack);
  text-align: left;

  &__input {
    width: 100%;
    min-height: 50px;
    padding: 0 20px;

    background-color: #fff;
    border: 1px solid var(--colorGray);
    color: var(--colorBlack);
    cursor: text;
    font-size: $fz-md;
    font-family: $fontPrimary;
    font-weight: 500;

    &::placeholder {
      color: var(--colorGray);
      font-size: $fz-md;
    }
  }

  &.is-error &__input {
    border-color: var(--colorError);
  }

  &__label {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
    padding-bottom: 3px;

    color: inherit;
    font-size: $fz-sm;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--colorError);
    font-size: $fz-sxs;
  }
}
</style>
