<template>
  <div class="mobileMenu">
    <div class="mobileMenu__inner">
      <div class="mobileMenu__top">
        <div class="mobileMenu__dealers">
          <div class="mobileMenu__dealer">
            <div class="mobileMenu__dealerName">
              HydraPay
            </div>
          </div>
        </div>
      </div>

      <hr class="mobileMenu__hr">

      <div class="mobileMenu__middle">
        <header-nav :menu="menuItems" />
      </div>

      <template v-if="Array.isArray(messengers) && messengers.length ">
        <div class="mobileMenu__bottom">
          <hr class="mobileMenu__hr">
          <div class="mobileMenu__bottomTitle">
            Связаться с нами
          </div>
          <div class="mobileMenu__messengersList">
            <a v-for="(item, index) in messengers"
               :key="index"
               href=""
               class="mobileMenu__messengersItem"
               rel="nofollow"
               target="_blank"
            >
              <svg-icon class="mobileMenu__messengersIcon"
                        :name="item.ico"
              />
              <span class="mobileMenu__messengersText">
                <!--                                <span class="mobileMenu__messengersLink"> {{ item.href }}</span>-->
                <span class="mobileMenu__messengersName">
                  {{ item.name }}
                </span>
              </span>
            </a>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import HeaderNav from '../header/headerNav';

export default {
  name: 'MobileMenu',

  components: {
    HeaderNav,
  },

  props: {
    menuItems: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },

  data() {
    return {
      messengers: [],
    };
  },

  methods: {
  },
};
</script>

<style lang="scss">
    .mobileMenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 35px;
        z-index: 2;

        background: $colorMainED;
        color: $white;
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);

        transition: opacity 0.15s 0s ease-in-out, visibility 0s 0.15s, transform 0.15s ease-in-out;

        &.isActive {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);

            transition: opacity 0.15s 0s ease-in-out, visibility 0s 0s, transform 0.15s ease-in-out;
        }

        @include below($md-tablet) {
            padding: 30px 24px;
        }

        &.isActive {
        }

        &__top,
        &__bottom,
        &__hr {
            display: none;

            @include below($md-tablet) {
                display: block;
            }
        }

        &__top {
            margin-bottom: 30px;
        }

        &__dealerName {
            margin-bottom: 5px;

            font-weight: 700;
            font-size: $fz-xl;
        }

        &__hr {
            margin-bottom: 30px;

            opacity: 0.2;
        }

        &__route {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 30px;

            color: inherit;
            font-size: $fz-sm;
            text-align: left;
            white-space: nowrap;
        }

        &__routeIcon {
            width: 20px;
            height: 20px;
            margin-right: 10px;

            flex-shrink: 0;
            fill: $white;
        }

        &__bottomTitle {
            margin-bottom: 20px;

            font-size: $fz-h-xs;
            font-weight: 700;
        }

        &__messengersList {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -20px;
        }

        &__messengersItem {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 20px 30px;

            color: $white;
        }

        &__messengersIcon {
            margin-right: 15px;

            width: 30px;
            height: 30px;
            fill: $white;
        }

        &__messengersText {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__messengersLink {
            margin-bottom: 4px;

            font-size: $fz-sm;
            font-weight: 700;
        }

        &__messengersName {
            font-size: $fz-sm;
            font-weight: 700;
        }
    }
</style>
