<template>
  <div class="layout">
    <header-custom />

    <div class="main">
      <Nuxt />
    </div>

    <div class="container">
      {{ $auth.user }}
    </div>

    <svg-icon name="logo-icon"
              class="layout__bg"
    />

    <default-modal />
  </div>
</template>

<script>
import DefaultModal from '@/components/modals/index';
import HeaderCustom from '@/components/header/index';

export default {
  components: { HeaderCustom, DefaultModal },
  methods: {
    async updateUserInfo() {
      // eslint-disable-next-line no-console
      await this.$auth.fetchUser().then(res => console.log(res));
    },
  },
};
</script>

<style lang="scss">
.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
  min-height: 100vh;

  &__bg {
    position: fixed;
    bottom: 0;
    left: calc(50% - 500px);
    z-index: -1;

    width: 1000px;
    height: 800px;

    fill: #f8f8f8;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
}
</style>
