// fonts
$fontPrimary: 'Open Sans', Arial, sans-serif;

// Text size
$fz-sxs: 11px;
$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;

$fz-h-sxs: 22px;
$fz-h-xs: 24px;
$fz-h-sm: 30px;
$fz-h-md: 36px;
$fz-h-lg: 40px;
$fz-h-xl: 42px;

// responsive vars
$lg-desktop: 1920px;
$md-desktop: 1440px;
$sm-desktop: 1280px;
$lg-tablet: 1024px;
$md-tablet: 768px;
$lg-mobile: 540px;
$md-mobile: 410px;
$sm-mobile: 360px;

// colors
$white: #FFFFFF;
$black: #000000;

$colorMain: #0062C5;
$colorMainL: #007EDB;
$colorMainD: #133D5F;
$colorMainED: #162133;

$colorBlack: #3C3947;

$colorGray: #646464;
$colorGrayL: #E0E0E0;
$colorGrayEL: #f5f5f5;

$colorRed: #952425;



