<template>
  <div class="container"
       style="text-align: center;"
  >
    <Logo />

    <h1 class="title">
      HydraProject
    </h1>
  </div>
</template>

<script>
import Logo from '~/components/logo/index';

export default {
  name: 'Index',

  components: { Logo },
};
</script>

<style lang="scss">
</style>
