<template>
  <div class="container"
       style="text-align: center;"
  >
    <div>
      <Logo />

      <h1 class="title">
        HydraProject
      </h1>

      <btn @click="open()">
        testModal
      </btn>

      <btn @click="getGames()">
        getGames
      </btn>
    </div>
  </div>
</template>

<script>
import Btn from '@/components/ui-kit/btn';
import defaultModal from '@/core/mixins/defaultModal';
import Logo from '~/components/logo/index';

export default {
  name: 'Info',

  components: {
    Btn,
    Logo,
  },

  mixins: [
    defaultModal,
  ],

  methods: {
    async getGames() {
      // eslint-disable-next-line no-console
      console.log(await this.$axios.get('games'));
    },
    open() {
      // eslint-disable-next-line no-console
      // this.modalShow('callback');
      this.defaultModalShow(Logo);
    },
  },
};
</script>

<style lang="scss">

</style>
