<template>
  <modal
    name="defaultModal"
    class="modal"
    height="auto"
    width="840px"
    :scrollable="false"
    :adaptive="true"
    @before-open="beforeOpenModal($event)"
    @before-close="beforeCloseModal($event)"
  >
    <div class="modal__boxInner">
      <button type="button"
              class="modal__close"
              @click="$modal.hide('defaultModal')"
      >
        <svg-icon class="modal__closeSvg"
                  name="close"
        />
      </button>

      <template v-if="modalParams">
        <template v-if="typeof modalParams.component === 'string'">
          <component :is="`modal-${modalParams.component}`"
                     :params="modalParams"
          />
        </template>
        <template v-else>
          <component :is="modalParams.component"
                     :params="modalParams"
          />
        </template>
      </template>
    </div>
  </modal>
</template>

<script>
import ModalCallback from './modalCallback';

export default {
  name: 'DefaultModal',
  components: {
    ModalCallback,
  },

  data() {
    return {
      modalParams: {
        component: '',
      },
    };
  },

  methods: {
    beforeOpenModal(event) {
      this.modalParams = event.params;
      this.$store.commit('modals/add', 'modalPopup');
    },

    beforeCloseModal(event) {
      this.$store.commit('modals/remove', 'modalPopup');
    },
  },
};
</script>

<style lang="scss">
.modal {
  .vm--modal {
    overflow: visible;
  }

  .v--modal-box {
    left: auto !important;
    max-width: calc(100% - 30px);
    max-height: 98vh;
    padding: 30px 20px;
    margin: 0 auto 1vh;

    background: $white;
    border-radius: 0;
    overflow: auto;

    @include below($md-tablet) {
      max-width: 430px;
    }

    @include below($lg-mobile) {
      max-width: calc(100% - 30px);
      padding: 30px 15px;
    }
  }

  .v--modal-overlay {
    background-color: rgba($colorBlack, .25);
  }

  &__close {
    position: absolute;
    left: calc(100% + 10px);
    top: 0;

    @include below($lg-mobile) {
      right: 5px;
      top: 5px;
    }
  }

  &__closeSvg {
    display: block;
    width: 14px;
    height: 14px;
    margin: 10px;

    fill: $colorBlack;
  }
}
</style>
