<template>
  <div class="modalCallback">
    <template v-if="modalTitle">
      <div class="modalCallback__title">
        {{ modalTitle }}
      </div>
    </template>

    <template v-if="modalText">
      <p class="modalCallback__text">
        {{ modalText }}
      </p>
    </template>
  </div>
</template>

<script>
export default {
  name: 'ModalCallback',

  props: {
    params: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  data() {
    return {
      modalTitle: this.params.title || 'Получите персональное предложение',
      modalText:
                    this.params.text ||
                    'Оставьте заявку и наш менеджер перезвонит вам',
    };
  },
};
</script>

<style lang="scss">
    .modalCallback {
        &__title {
            margin-bottom: 20px;

            color: $colorBlack;
            font-size: $fz-h-lg;
            font-weight: 700;
            line-height: 1.2;

            @include below($lg-mobile) {
                font-size: $fz-h-md;
            }
        }

        &__text {
            margin-bottom: 30px;

            color: $colorBlack;
            font-size: $fz-lg;

            @include below($lg-mobile) {
                font-size: $fz-md;
            }
        }

        &__form {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -10px;

            @include below($md-tablet) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
            }
        }

        &__field {
            margin: 0 10px;
            flex: 1 1 calc(100% / 2 - 20px);

            @include below($md-tablet) {
                flex: 1 1 calc(100% - 20px);
            }

            &--privacy {
                color: $colorBlack;

                @include below($md-tablet) {
                    margin-top: 20px;
                }
            }

            &--last {
                order: 10;
            }
        }

        &__btn {
            width: 100%;
        }
    }
</style>
